
// Couleurs charte
$primary-color: #D04F4F;

// Couleurs de combo-box
$bg-combo-ingredients: #3282F7;
$fg-combo-ingredients: white;

$bg-combo-ustensiles: #ED6454;
$fg-combo-ustensiles: white;

$bg-combo-appareils: #68D9A4;
$fg-combo-appareils: white;

// Couleurs du cham custom input
$bg-input-color: #E7E7E7;

$bg-combo-default: black;
$fg-combo-default: white;

$height-combo: 60px;
