// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@import "../utils/variables";

@import "../components/ComboBox",
        "../components/ActiveFilters",
        "../components/CardsRecettes",
        "../components/CustomInput";

// Custom styles

.filter-select {
    display: flex;
    // align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    // margin-bottom: 20px;
    position: absolute;
    // padding-bottom: 28px;
}

.recettes {
    margin-top: 90px;
}