/* @theme olivier */
section {
    width: 21cm;
    height: 29.7cm;
    font-size: 16px;
    padding: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}