.postit {
    display: flex;
    flex-direction: row-reverse;
    background-color: $bg-combo-ingredients;
    color: $fg-combo-ingredients;
    position: relative;
    width: max-content;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    p {
        margin: 0;
        padding: 0;
    }
    img {
        padding-left: 10px;
        float: right;
    }
}